@page
@model BrechoLaFripAtelier.Pages.Admins.ProfileModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="mb-3 mt-5 display-4">Perfil</h1>

<h4>Detalhes</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.SecurityQuestion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.SecurityQuestion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.SecurityResponse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.SecurityResponse)
        </dd>

        <div class="d-flex justify-content-between col-md-4">
            <div class="mt-3">
                <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
            </div>
            <div class="form-group mt-3">
                <a asp-page="./Edit" asp-route-id="@Model.Admin?.Id" class="btn btn-primary">
                    Editar
                </a>
            </div>
        </div>
    </dl>
</div>
