@page
@model BrechoLaFripAtelier.Pages.Sales.DeleteModel

@{
    ViewData["Title"] = "Deletar Venda";
}

<h1 class="mb-3 mt-5 display-4">Vendas</h1>

<h3>Tem certeza de que deseja excluir isso?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.DateOfSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.DateOfSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Status)
        </dd>
    </dl>

    <div class="d-flex justify-content-between col-md-4">
        <div class="mt-3">
            <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
        </div>
        <div class="form-group mt-3">
            <form method="post">
                <input type="hidden" asp-for="Sale.Id" />
                <input type="submit" value="Deletar" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>
