@page
@model BrechoLaFripAtelier.Pages.Sales.ResultModel

@{
    ViewData["Title"] = "Vendas";
}

<h1 class="mb-3 mt-5 display-4">Vendas</h1>

<div class="d-flex justify-content-between mb-3 mt-3">
    <a href="javascript:history.back()" class="btn btn-secondary disable-to-print">Voltar</a>

    <button type="button" class="btn btn-secondary btn-sm disable-to-print" onclick="javascript:window.print()">
        <i class="bi bi-printer"></i> Imprimir
    </button>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].Product)
            </th>
            <th>
                Parceira
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].DateOfSale)
            </th>
            <th>
                Preço
            </th>
            <th>
                Comissão
            </th>
            <th>
                Lucro
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sale)
        {
            <tr>
                <td>
                    <a asp-page="../Products/Details" asp-route-id="@item.Product.Id">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </a>
                </td>
                @if (item.Product.Partner != null)
                {
                    <td>
                        <a asp-page="../Partners/Details" asp-route-id="@item.Product.Partner.Id">
                            @Html.DisplayFor(modelItem => item.Product.Partner.Name)
                        </a>
                    </td>
                }
                else
                {
                    <td>[Nenhuma parceira]</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @{
                        var commissionValue = item.Product.Price * (item.Product.Partner?.Commission ?? 0) / 100;
                    }

                    @commissionValue.ToString("C")
                </td>
                <td>
                    @{
                        var profit = item.Product.Price - commissionValue;
                    }

                    @profit.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary disable-to-print">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
