@page
@model BrechoLaFripAtelier.Pages.Sales.SalesPerPartnerModel

@{
    ViewData["Title"] = "Vendas por Parceira";
}

<h1 class="mb-3 mt-5 display-4">Vendas por Parceira</h1>

<div class="d-flex justify-content-between mb-3 mt-3">
    <form method="get">
        <div class="input-group">
            <input type="text" name="search" class="form-control disable-to-print" placeholder="Buscar">
            <button class="btn btn-outline-secondary disable-to-print" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
</div>

<button type="button" class="btn btn-secondary btn-sm disable-to-print" onclick="javascript:window.print()">
    <i class="bi bi-printer"></i> Imprimir
</button>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Parceira</th>
            <th>Total de Itens Vendidos</th>
            <th>Saldo Total</th>
            <th>Comissão Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PartnerSalesSummaries.Any())
        {
            @foreach (var summary in Model.PartnerSalesSummaries)
            {
                <tr>
                    @if (summary.Partner != null)
                    {
                        <td>@summary.Partner.Name</td>
                    }
                    else
                    {
                        <td>[Nenhuma parceira]</td>
                    }
                    <td>@summary.Quantity</td>
                    <td>@summary.TotalPrice.ToString("C")</td>
                    <td>@summary.TotalCommission.ToString("C")</td>
                    <td>
                        @if (summary.Partner != null)
                        {
                            <a asp-page="Result" asp-route-partnerId="@summary.Partner.Id" class="btn btn-info disable-to-print">
                                <i class="bi bi-eye"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-page="Result" asp-route-partnerId="-1" class="btn btn-info disable-to-print">
                                <i class="bi bi-eye"></i>
                            </a>
                        }
                        
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Nenhuma venda vinculada a parceira.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>